#erro {
    margin-bottom: 10px;
    color: rgb(235, 0, 0);
    display: inline-block;
}

#mensagem, #mensagemAcao {
    font-size: 1.3rem;
    font-weight: bold;
    text-align: justify;
    word-wrap: break-word;
    white-space: pre-wrap;
    max-width: 100%;
}